[submodule "extern/glm"]
	path = extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "extern/uriparser"]
	path = extern/uriparser
	url = https://github.com/uriparser/uriparser.git
[submodule "extern/draco"]
	path = extern/draco
	url = https://github.com/google/draco.git
[submodule "extern/GSL"]
	path = extern/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "extern/tinyxml2"]
	path = extern/tinyxml2
	url = https://github.com/leethomason/tinyxml2.git
[submodule "extern/rapidjson"]
	path = extern/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "extern/cmake-modules"]
	path = extern/cmake-modules
	url = https://github.com/bilke/cmake-modules.git
[submodule "extern/KTX-Software"]
	path = extern/KTX-Software
	url = https://github.com/CesiumGS/KTX-Software.git
	branch = cesium-native
